*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body{
    box-sizing: content-box;
}
.container{
    background-color: #FBFFF1;
    min-height: 100vh;
    .content1{
        background-color: #FBFFF1;
        background-image: url('../img/wave.svg');
        background-repeat: no-repeat;
        background-position: 50% 101%;
        min-height: 88vh;
        padding-top: 5vh;
        padding-bottom: 2.5em;
        padding-left: 5vw;;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        // border: 1px solid red;
        .intro{
            // border: 1px solid red;
            h1{
                font-size: 4em;
                color: #138190;
                text-shadow: 4px 3px rgba(0,0,0,0.8);
            }
            p.desc{
                margin-top: 10vh;
                padding: 0 3vw;
                color: #138190;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
                strong{
                    font-size: 1.8em;
                }
                // border: 1px solid green;
            }
        }
        .icons{
            // animation: animate 10s both infinite;
            // border: 1px solid red;
            display: grid;
            grid-template-columns: .9fr 1fr;
            .icon1{
                background-image: url('../img/4.svg');
                background-repeat: no-repeat;
            }
            .icon2{
                background-image: url('../img/5.svg');
                background-repeat: no-repeat;
            }
        }
    }
    .content2{
        min-height: 45vh;
        background-color: #138190;
        box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.5);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 5vw;
        color: #ecf0e4;
        h2{
            font-size: 2.5em;
            text-shadow: 3px 3px rgba(0,0,0,0.5);
        }
    }
    .content4{
        min-height: 30vh;
        padding-top: 3vh;
        padding-bottom: 2.5em;
        padding-left: 5vw;
        padding-right: 5vw;
        background-color: #138190;
        color: #ecf0e4;
        box-shadow: 0px 10px 8px 0px rgba(0,0,0,0.5);
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        .contactInfo{
            display: grid;
            grid-template-rows: .2fr .6fr;
            h2{
                font-size: 2.5em;
                text-align: left;
                text-shadow: 3px 3px rgba(0,0,0,0.5);
            }
            .icon{
                display: grid;
                grid-template-columns: 1fr 1fr;
                .icon1{
                    background-image: url('../img/3.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .icon2{
                    background-image: url('../img/2.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
        div{
            // border: 1px solid red;
        }
        .contact{
            align-self: center;
            form{
                min-height: 60vh;
                display: grid;
                grid-template-columns: 1fr 1fr;
                div{
                //  border: 1px solid red;
                    // height: 50%;
                }
               .creds{
                    line-height: 5vh;
                    align-self: center;
                    input{
                        color: #eef3e1;
                        width: 50%;
                        height: 2.5em;
                        border: none;
                        border-radius: 25px;
                        background-color: rgba(255, 255, 255, .3);
                        outline: none;
                        padding: .5em 2em;

                        box-shadow: 5px 10px 8px 0px rgba(0,0,0,0.5);
                    }
               }
               .message{
                align-self: center;
                textarea{
                        border: none;
                        border-radius: 25px;
                        background-color: rgba(255, 255, 255, .3);
                        outline: none;
                        padding: .5em 2em;
                        margin-top: 2.5vh;
                        margin-bottom: 3vh;
                        box-shadow: 5px 10px 8px 0px rgba(0,0,0,0.5);
                    }
                }
                button{
                    border: none;
                    border-radius: 25px;
                    background-color: rgba(255, 255, 255, .3);
                    outline: none;
                    padding: .5em 2em;
                    box-shadow: 5px 8px 8px 0px rgba(0,0,0,0.5);
                    font-size: 1.2em;
                }
            }
        }
    }
    .content3{
        margin-top: 2em;
        min-height: 100vh;
        background-color: #FBFFF1;
        background-image: url('../img/wave_2.svg');
        background-repeat: no-repeat;
        background-position: center 101%;
    }
}   

@keyframes animate{
    0%{
        transform: rotateX(0deg) roteteY(0deg) rotateZ(0deg);
    }
    16%{
        transform: rotateY(90deg)
    }
    25%{
        transform: rotateY(90deg);
    }
    33%{
        transform: rotateY(180deg);
    }
    42%{
        transform: rotateY(180deg);
    }
    66%{
        transform: rotateY(270deg);
    }
    75%{
        transform: rotateY(270deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}